<launch>
  <node pkg="raspimouse_ros_2" name="motors" type="motors" output="screen" />
  <node pkg="rosbag" type="play" name="player" output="screen"
    args="$(find cpimouse_vision_control)/bagfiles/face-right.bag" required="true" />
  <node pkg="cpimouse_vision_control" name="face_to_face" type="face_to_face" output="screen" />
  <test test-name="test_face_to_face" pkg="cpimouse_vision_control" type="test_face_to_face.py" args="right" />
</launch>
